﻿html, body{
  margin: 0;
  height:100%;
  width:100%;
  overflow:auto;
}

.bookBox {
    width: 80%;
    height: 120px;
    margin-left: 10%;
    margin-bottom: 10%;
    border: 1px solid black;
    border-radius: 8px;
}

.index-button {
    font-size:16px;
}

.bookSidebar {
    width:100%;
    background-color:#3e5056;
    height: 80px;
    margin:0;
    padding:0; 
}

#sidebar {   
    height: auto;
    margin:0;
    padding:0;
    overflow:auto;
}

#content {
    overflow:auto;
    padding:50px;
    background-color: #f8f8f6;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
}

.book-picture {
    height:130px;
    width:110px;
    border: 1px solid black;
    margin:0;
}

.heart-rating {
  line-height:32px;
  font-size:1.25em;
  cursor: pointer;
}

#pozadina {
    background-color:whitesmoke;
}

.media-left{
    float:left!important;
    margin-right: 10px;
}

.media-body{
    text-align: left!important;
}

#sidebar a{
    text-decoration: none;
    color: black;
}

#sidebar .media:hover {
    background-color: burlywood;
}

#sidebar hr{
    margin: 0;
}

#sidebar .media:active {
    background-color: aquamarine;
}



