﻿<div class="row">
    <div class="col-md-2">
        <div class="text-center">
            <a href="@Url.Action("Index")"><img src="~/Images/title.png" alt="My little book" width="250"/></a>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
        <div class="form-inline text-center" style="margin-bottom:20px; margin-top:20px">
            <button class="btn btn-primary" data-toggle="modal" data-target="#createBookModal"><i class="fa fa-plus index-button"></i></button>
            <input type="text" value="@(Model.searchTerm != null ? Model.searchTerm : "")" placeholder="Search" name="searchTerm" class="form-control" 
                   style="width:25%; border:0; border-bottom:groove;" id="pretraga" />
            <button class="btn btn-primary" onclick="trazi()"><i class="fa fa-search"></i></button>
            <select class="form-control" style="width:25%; border:0; border-bottom:groove;">
                <option name="Default"></option>
                <option name="Author">Author</option>
                <option name="Title">Title</option>
            </select>
            <button class="btn btn-default"><i class="fa fa-sort-alpha-asc index-button"></i></button>
        </div>
    </div>
</div>