﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Books </title>

    @Styles.Render("~/Content/css")
</head>

<body>
        @RenderBody()
            
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false) 
</body>
</html>









@*<div>
        <ul>
            <li>
                <a href="@Url.Action("Index", "Home")">Index</a>
            </li>
            <li>
                <a href="@Url.Action("Book", "Home")">Book</a>
            </li>
            <li>
                <a href="@Url.Action("AddNewBook", "Home")">Add new book</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
        </ul>
    </div>*@