﻿@* ------------------------- MODAL ----------------------- *@

<div class="modal fade" id="createBookModal" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-class">
        <div class="modal-content">
            <form name="newBookForm" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add a book</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <label>Title</label>
                                <input class="form-control" type="text" id="title" name="Title" />
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="form-group">
                                <label>Author</label>
                                <input class="form-control" type="text" id="author" name="Author" />
                            </fieldset>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <label>Date read</label>
                        <input class="form-control" type="date" id="readDate" name="ReadDate" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Note</label>
                        <textarea class="form-control" name="Note" id="note" rows="3"></textarea>
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Quotes</label>
                        <input class="form-control" type="text" id="quote" />
                        <button type="button" class="btn btn-info" id="addQuoteBtn">Add quote</button>
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Image</label>
                        <input id="ImagePath" title="Upload an image" type="file" name="ImagePath" />
                    </fieldset>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@* ------------------------- MODAL ----------------------- *@
