﻿<div id="sidebar" class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-4">
    <div class="btn btn-group-vertical btn-block">
        @foreach (Something.ViewModels.HomeIndexViewModel.BookVM book in Model.Books)
        {
            if (book.Id == Model.Knjiga.Id)
            {

                <a href="@Url.Action("Book", new { Id = book.Id})">
                    <div class="media" >
                        <div class="media-left">
                            @if (book.ImagePath == null)
                            {
                                <img class="media-object" src="~/Images/bookk.jpg" )" alt="Book" height="70" width="60" >
                            }
                            else
                            {
                                <img class="media-object" src="~/Images/@book.ImagePath" alt="..." height="70" width="60">
                            }
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@book.Title </h4>@book.Author
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a href="@Url.Action("Book", new { Id = book.Id})" class="bookSidebar">
                    <div class="media">
                        <div class="media-left">
                            @if (book.ImagePath == null)
                            {
                                <img class="media-object" src="~/Images/bookk.jpg" )" alt="Book" height="70" width="60">
                            }
                            else
                            {
                                <img class="media-object" src="~/Images/@book.ImagePath" alt="..." height="70" width="60">
                            }
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@book.Title </h4>@book.Author

                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>











