﻿@model Something.ViewModels.HomeBookViewModel
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container-fluid">
    <section>
        @Html.Partial("_Sidebar")

       <div id="content" class="col-md-10 col-sm-9 col-xs-8">
        @*<div id="content" class="col l10 m9 s8">*@
    <div>
        <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Edit", new { Id = Model.Knjiga.Id})'"><i class="fa fa-edit"></i></button>
        <button class="btn btn-default" type="button" onclick="potvrdiBrisanje()"><i class="fa fa-trash-o"></i></button>
    </div>

    <div class="row" style="margin-bottom:30px;">
        <div class="col-md-2">
            <img class="book-picture form-control-static" src="~/Images/@Model.Knjiga.ImagePath" alt="..." width="100">
            <div class="heart-rating form-control-static">
                <i class="fa fa-heart-o" data-rating="1"></i>
                <i class="fa fa-heart-o" data-rating="2"></i>
                <i class="fa fa-heart-o" data-rating="3"></i>
                <i class="fa fa-heart-o" data-rating="4"></i>
                <i class="fa fa-heart-o" data-rating="5"></i>
            </div>
        </div>

        <div class="col-md-6">
            <h2 class="form-control-static">@Model.Knjiga.Title</h2>
            <h3 class="form-control-static">@Model.Knjiga.Author</h3>
            <h5>@Model.Knjiga.ReadDate</h5>
        </div>
    </div>

    <div class="row">
        <div style="margin-bottom:30px;">
            <p>@Model.Knjiga.Note</p>
        </div>
    </div>

    <div class="row">
        @*foreach (string quote in Model.Quotes)
        {
            <blockquote>
                <p>
                    @quote
                </p>
            </blockquote>
        }*@
            </div>
        </div>
    </section>
</div>

<script>
    function potvrdiBrisanje() {
        if(confirm('Are you sure that you want to delete this book?'))
            window.location = '@Url.Action("Delete", new { Id = Model.Knjiga.Id})';
    }
</script>

<script language="javascript">
    function autoResizeDiv() {
        document.getElementById('sidebar').style.height = window.innerHeight + 'px';    
        document.getElementById('content').style.height = window.innerHeight + 'px';
    }
    window.onresize = autoResizeDiv;
    autoResizeDiv();
</script>