﻿@model Something.ViewModels.HomeBookViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container-fluid">
    <section>
       
        <h1>Are you sure you want to delete this book?</h1>
        <input type="submit" name="Delete" id="Delete" value="Delete" />
        <button class="btn btn-default" type="submit" value="Delete"><i class="fa fa-trash-o"></i></button>
    </section>


</div>
