﻿@model Something.ViewModels.HomeBookViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container-fluid">
    <!--SIDEBAR-->
    <section>
        @Html.Partial("_Sidebar")

        <!--CONTENT-->
        <div id="content" class="col-md-10 col-sm-9 col-xs-8">

            <form name="editBookForm" method="post" enctype="multipart/form-data">

                <div>
                    <h4>Edit the book</h4>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label>Title</label>
                            <input class="form-control" type="text" id="title" name="Title" value="@Model.Knjiga.Title" />
                            @*Html.EditorFor(model => model.Knjiga.Title)*@
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label>Author</label>
                            <input class="form-control" type="text" id="author" name="Author" value="@Model.Knjiga.Author" />
                            @*Html.EditorFor(model => model.Knjiga.Author)*@
                        </fieldset>
                    </div>
                </div>

                <fieldset class="form-group">
                    <label>Note</label>
                    <textarea class="form-control" name="Note" id="note" rows="3">@Model.Knjiga.Note</textarea>
                    @*Html.EditorFor(model => model.Knjiga.Note)*@
                </fieldset>

                <fieldset class="form-group">
                    <label>Image</label>
                    <input id="ImagePath" title="Upload an image" type="file" name="ImagePath" value="@Model.Knjiga.ImagePath" placeholder="@Model.Knjiga.ImagePath"/>
                    @*Html.EditorFor(model => model.Knjiga.Note)*@
                </fieldset>

                <fieldset class="form-group">
                    <label>Quotes</label>
                    <input class="form-control" type="text" id="quote" />
                    <button type="button" class="btn btn-info" id="addQuoteBtn">Add quote</button>
                </fieldset>

                <div>
                    <a href="/Home/Book/@Model.Knjiga.Id" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            </div>
</section>
</div>

