﻿@model Something.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ModalInputForm");
@Html.Partial("_Header");

<div class="row">
    @foreach (Something.ViewModels.HomeIndexViewModel.BookVM book in Model.Books)
    {
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="text-center">
                <a href="@Url.Action("Book", new { Id = book.Id })" style="text-decoration:none;">
                    <div class="card ">
                        @if (book.ImagePath == null)
                        {
                            <img class="card-image" src="~/Images/bookk.jpg" alt="Book" height="130" width="120">
                        }
                        else
                        {
                            <img class="card-image" src="~/Images/@book.ImagePath" alt="..." height="130" width="120">
                        }
                        <div class="card-title">
                            <p>@book.Title</p>
                            <p>@book.Author</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>


<div class="card"></div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        var quoteinput = $('#quote');
        var quotebtn = $('#addQuoteBtn');
        var index = 0;

        quotebtn.on('click', function () {
            //quotebtn.after('<input type="hidden" name="Quote.Index" value="' + index.toString() +'"/>');
            quotebtn.after('<input type="text" name="Quotes" value="' + quoteinput.val() + '"> </input>');
            quoteinput.val("");
            index++;
        });
    });

    function trazi() {
        window.location = '/Home/Search?searchTerm=' + $('#pretraga').val();
    }
</script>