﻿@model Something.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Pretraga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ModalInputForm");

@Html.Partial("_Header");


<div class="row">
    @foreach(Something.ViewModels.HomeIndexViewModel.BookVM book in Model.Books)
    {
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <a href="@Url.Action("Book", new { Id = book.Id })">
                <div class="bookBox">
                    <h3>@book.Title</h3>
                    <h4>@book.Author</h4>
                </div>
            </a>
        </div>
    }
</div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    function trazi() {
        pretraga = document.forms[0].pre
            window.location = '/Home/Search?searchTerm=' + $('#pretraga').val();
    }
</script>